.container {
    min-height: 100vh;
    padding: 0 0.5rem;
}

.code_area {
    background-color: #000000;
}

.folderName {
    color: #000000;
}

.code {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.code:hover {
    background-color: #e6e6e6;
}